@import '../fonts/poppins.ttf';
@font-face {
  font-family: 'Poppins';
  src: '../fonts/poppins.ttf';
}
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

  --line: 1px solid var(--color-grey-light-2);
}

// Media query
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Font
$body-font: 'Poppins', sans-serif;

/* 
  Main color
*/

$main-theme: #BFFFCD;
$green-light: #EDF2EE;
$light-secondary: #666666;
$container: 1170px;
$light-gray: #FAFAFA;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-color: #ffff;
  min-height: 100vh;
  font-size: 1.4rem;
}

.base-button {
  background-color: #00B108;
  color: #ffff;
  padding: 1.5rem;
  border: none;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 150px;
}

.separator {
  margin: 2rem auto;
  width: 70px;
  border: 4px solid #00b108;
  position: relative;
  border-radius: 30px;
  &::before {
    position: absolute;
    left: -45px;
    top: -4px;
    content: '';
    width: 30px;
    border: 4px solid #00b108;
    border-radius: 30px;
  }
  &::after {
    position: absolute;
    left: 75px;
    top: -4px;
    content: '';
    width: 30px;
    border: 4px solid #00b108;
    border-radius: 30px;
  }
}